nav.user-menu
  |
  |
  a.btn.btn-flat.waves-effect.show-sm-up(href=link.saas2.login)
    | #{$t.common.login}
  |
  |
  a.btn.black-white.waves-effect.show-sm-up(href=link.saas2.register)
    | #{$t.common.register}
  |
  |
  span.spacer.vertical-divider.show-lg-up
  include ./settings
