.call-to-action
  .container.fixed-width
    .root
      .wow.fadeInUpShort(data-wow-offset="-100" data-wow-delay="0.5s" data-wow-duration="0.5s")
        .card.paper
          .deco
          h4.display-1.mb-10
            | #{$t.saas2_landing.footer_waiting}
          |
          |
          a.waves-effect.btn.black.button(href=link.saas2.contact)
            | #{$t.saas2_landing.getstarted}
          |
          |

