mixin hero-banner
  .hero-banner-wrap
    .container
      block
    .deco-wrap
      .deco.bottom
        svg.wave
          include ./svg/deco-wave
      .deco.top
        .wave.wave-cover
    .wave.wave-cover

