.card.help-paper.text-center
  .card-content 
    h6.use-text-bold.text-center.mb-3
      | #{$t.common.faq_luck}
    p.mb-3
      | #{$t.common.faq_luck_desc}
    .card-actions
      |
      |
      a.btn.block.black-white.waves-effect(href="#!")
        | #{$t.common.faq_luck_btn}
      |
      |
