mixin news-card(img, type, text)
  .news-event-card
    figure
      |
      |
      img(src=img alt="thumb")/
      |
      |
    .desc
      .text
        p.type.caption #{$t.saas2_landing[type]}
        p #{text}
      |
      |
      a.btn.btn-small.btn-flat.waves-effect #{$t.saas2_landing.news_readmore}
      |
      |
